<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D-Dive</title>
    <link rel="stylesheet" href="./WelcomeStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="./WelcomeStyle.js"></script>
   <script src="./bubble.js"></script>

  </head>
  <body>
   <div class="wrapper">
   	<div class="title">
   		<img src="DDive2.png">
   	</div>
   	<div class="copy">
   		<h3>気になる授業に Let's dive.</h3>
   	</div>
    <div class="col-sm-12">
      <button class="button btn btn-default form-control" onclick="start()">Dive</button>
    </div>
   		
   </div>
  </body>
 </html>
