<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D-Dive</title>
    <link rel="stylesheet" href="./DDiveStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    

  </head>


  <body>
   <div class="header">
     <h1>D-Dive</h1>
   </div>
   <div class="main">
     <table class="table">
        <thread>
        <tr>
         <th>講義名</th><th>教授</th><th>春/秋</th><th>時間</th><th>校地</th><th>教室</th><th>潜りやすさ</th>
            </tr>
          </thread>
          <tbody>
            <tr>
             <th>プログラミングjava1</th><th>小板太郎</th><th>春</th><th>金2</th><th>京田辺</th><th>JM404</th><th>B</th>
            </tr>
          </tbody>
      </table>

   </div> 

  </div>

  </body>
</html>
