/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.wrapper{
	margin:0 20px;
}
.header{
	display:block;
}
.header h1{
	margin:20px 0;
	height:60px;
	background-color: #66CDAA;
	text-align: center;
	color:#FFFFFF;
	border:5px ridge #48D1CC;
}
.form-group select{
	color:#A0A0A0;
	background-color:#FFFFFF;
	border-color:#A0A0A0;
}
.form-group2 button{
	display: block;
	margin: 0 auto;
	width:100px;
	height:40px;
	background-color:#66CDAA;
	color:#FFFFFF;
}

.glyphicon.glyphicon-search{
	margin-right:5px;
}
.form-group2 a{
	color:#FFFFFF;
}

.main{
	margin:40px 0;
}